@font-face {
  font-family: "Cygre";
  src: url("/fonts/Cygre-Book.eot");
  src: local("Cygre-Book"), url("/fonts/Cygre-Book.ttf") format("truetype");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "Cygre";
  src: url("/fonts/Cygre-Regular.eot");
  src: local("Cygre-Regular"),
    url("/fonts/Cygre-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cygre";
  src: url("/fonts/Cygre-Medium.eot");
  src: local("Cygre-Medium"), url("/fonts/Cygre-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cygre";
  src: url("/fonts/Cygre-SemiBold.eot");
  src: local("Cygre-SemiBold"),
    url("/fonts/Cygre-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
